@using System.Security.Claims
@using PetShelter.Shared
@using PetShelter.Shared.Enums
@model IEnumerable<PetShelter.ViewModels.PetDetailsVM>

@{ ViewBag.Title = "List"; }

<h2>Pets</h2>
<p>
    @if (Context.User?.FindFirst(ClaimTypes.Role)?.Value == UserRole.Employee.ToString() ||

    Context.User?.FindFirst(ClaimTypes.Role)?.Value == UserRole.Admin.ToString())
    {
        @Html.ActionLink("Create New", "Create")
    }
    else if (Context.User?.FindFirst(ClaimTypes.Role)?.Value == UserRole.User.ToString())
    {
        @Html.ActionLink("Give Pet", "GivePet")
    }


</p>
<table class="table">

    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Age)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Color)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.IsAdopted)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsEuthanized)
        </th>


        <th>Actions</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <th>
                @Html.DisplayFor(modelItem => item.Name)
            </th>
            <th>
                @Html.DisplayFor(modelItem => item.Age)
            </th>
            <th>
                @Html.DisplayFor(modelItem => item.Color)
            </th>

            <th>
                @Html.DisplayFor(modelItem => item.IsAdopted)
            </th>
            <th>
                @Html.DisplayFor(modelItem => item.IsEuthanized)
            </th>


            <td>
                @if (Context.User?.FindFirst(ClaimTypes.Role)?.Value == UserRole.Employee.ToString() ||

               Context.User?.FindFirst(ClaimTypes.Role)?.Value == UserRole.Admin.ToString())
                {
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id })

                    @:|
                    @Html.ActionLink("Details", "Details", new { id = item.Id })

                    @:|
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })

                    @:|
                    @Html.ActionLink("Adopt Pet", "AdoptPet", new { id = item.Id })

                    @:|
                    @Html.ActionLink("Vaccinate Pet", "VaccinatePet", new { petId = item.Id })


                }
                else
                {
                    @Html.ActionLink("Adopt Pet", "AdoptPet", new { id = item.Id })

                    @:|
                    @Html.ActionLink("Details", "Details", new { id = item.Id })


                }


            </td>
        </tr>
    }
</table>
